# Credentials
*firebase_config.jspf
*service-account.json

# Other stuff
*.DS_Store
*.iml
.idea/
out/
target/
*.iml

# Eclipse IDE
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project